<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="comq.example.raymond.crimereport2">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" /> <!-- optional (needed if default theme has no action bar) -->
        <activity
            android:name=".SignUp"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".SignIn"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".AdminHome"
            android:label="@string/title_activity_admin_home"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ReporterHome"
            android:label="@string/title_activity_reporter_home"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ApproveReporter"
            android:parentActivityName=".AdminHome" />
        <activity
            android:name=".ApproveReporterDetails"
            android:parentActivityName=".ApproveReporter" />
        <activity
            android:name=".ReportCrime"
            android:parentActivityName=".ReporterHome" />
        <activity
            android:name=".UploadId"
            android:parentActivityName=".ReporterHome" />
        <activity
            android:name=".CrimeReported"
            android:parentActivityName=".ReporterHome" />
        <activity
            android:name=".CrimeReportedDetail"
            android:parentActivityName=".CrimeReported" />
        <activity
            android:name=".ACrimeReportedDetail"
            android:parentActivityName=".AdminHome" />
        <activity android:name=".CameraCapture" />
        <activity
            android:name=".ApprovedReporters"
            android:parentActivityName=".AdminHome" />
        <activity
            android:name=".AdminCrimesReported"
            android:parentActivityName=".AdminHome" />
        <activity
            android:name=".ManageEmergencyContacts"
            android:parentActivityName=".AdminHome" />
        <activity
            android:name=".ForgotPassword"
            android:parentActivityName=".SignIn" />
        <activity android:name=".PoliceEmergencyContacts"
            android:parentActivityName=".MainActivity"/>
    </application>

</manifest>